<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @monthly_prcp.park_name %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @monthly_prcp.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @monthly_prcp.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @monthly_prcp.mar %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @monthly_prcp.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @monthly_prcp.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @monthly_prcp.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @monthly_prcp.jul %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @monthly_prcp.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @monthly_prcp.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @monthly_prcp.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @monthly_prcp.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @monthly_prcp.dec %>
</p>

<%= link_to 'Edit', edit_monthly_prcp_path(@monthly_prcp) %> |
<%= link_to 'Back', monthly_prcps_path %>
