<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @visitornumber.park_name %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @visitornumber.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @visitornumber.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @visitornumber.mar %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @visitornumber.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @visitornumber.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @visitornumber.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @visitornumber.jul %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @visitornumber.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @visitornumber.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @visitornumber.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @visitornumber.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @visitornumber.dec %>
</p>

<%= link_to 'Edit', edit_visitornumber_path(@visitornumber) %> |
<%= link_to 'Back', visitornumbers_path %>


<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "id"
      },
      title: {
        text: "Visitor Numbers for the Whole Year"
      },
      xAxis: {
        categories: ["Jan","Feb","Mar","Apr","May","Jun","July","Aug","Sep","Oct","Nov","Dec"],
        margin: 5
      },
      yAxis: {
        title: {
          text: "Visitation",
          margin: 5
        }
      },
      series: [{
        name: "<%= @visitornumber.park_name %>",
        yAxis: 0,
        data: [<%= @visitornumber.jan %>, <%= @visitornumber.feb %>, <%= @visitornumber.mar %>,
          <%= @visitornumber.apr %>, <%= @visitornumber.may %>, <%= @visitornumber.jun %>,
          <%= @visitornumber.jul %>, <%= @visitornumber.aug %>, <%= @visitornumber.sep %>,
          <%= @visitornumber.oct %>, <%= @visitornumber.nov %>, <%= @visitornumber.dec %>]
      }]
    });
  });
</script>
<div id="id" style="width:560px; height:300px;"></div>
