<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @montly_temp.park_name %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @montly_temp.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @montly_temp.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @montly_temp.mar %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @montly_temp.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @montly_temp.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @montly_temp.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @montly_temp.jul %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @montly_temp.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @montly_temp.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @montly_temp.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @montly_temp.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @montly_temp.dec %>
</p>

<%= link_to 'Edit', edit_montly_temp_path(@montly_temp) %> |
<%= link_to 'Back', montly_temps_path %>
