<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @monthly_fire_level.park_name %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @monthly_fire_level.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @monthly_fire_level.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @monthly_fire_level.mar %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @monthly_fire_level.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @monthly_fire_level.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @monthly_fire_level.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @monthly_fire_level.jul %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @monthly_fire_level.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @monthly_fire_level.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @monthly_fire_level.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @monthly_fire_level.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @monthly_fire_level.dec %>
</p>

<%= link_to 'Edit', edit_monthly_fire_level_path(@monthly_fire_level) %> |
<%= link_to 'Back', monthly_fire_levels_path %>
