<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @campernumber.park_name %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @campernumber.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @campernumber.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @campernumber.mar %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @campernumber.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @campernumber.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @campernumber.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @campernumber.jul %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @campernumber.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @campernumber.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @campernumber.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @campernumber.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @campernumber.dec %>
</p>

<%= link_to 'Edit', edit_campernumber_path(@campernumber) %> |
<%= link_to 'Back', campernumbers_path %>
